@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary: #e80e0f;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  scroll-padding: 40px 0;
  font-family: "Plus Jakarta Sans", serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}

.scroller-none::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #e80e0f;
  border-radius: 5px;
}

.click_btn:active {
  transform: scale(0.9);
  background-color: #2980b9;
  transition: all 0.4s;
}

.click_btn.clicked {
  animation: clickEffect 0.4s ease-out;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}